<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <TITLE>{{pageTitle}}</TITLE>
    </HEAD>
    <BODY>
        {{> header}}
        <h1>{{pageTitle}}</h1>
        <p>{{screamIt welcomeMessage}}</p>
        {{> copyright}}
    </BODY>

</HTML>
